@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Lora", 'Libre Baskerville', serif;
}

body, .hero{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    color: rgba(255, 255, 255, 0.75);
}

body * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(12vmax);
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}

.container {
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    z-index: 10;
    border-radius: 10px;
    margin: 10px 10px;
    /* background: rgba(123, 180, 255, 0.244); */
}

.heading-div {
    height: 10%;
    width: 100%;
}

.heading-container{
    padding: 15px 40px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(104, 255, 252, 0.156), rgba(198, 107, 255, 0.156));
    backdrop-filter: blur(10px);
}

.heading{
    font-family: "Lora";
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: rgba(237, 246, 255, 0.9);
    text-shadow: 0px 0px 3px rgb(11, 9, 28);
}

.main-selection-div {
    height: 70%;
    width: 100%;
}

.input-field-div {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.input-field-div * {
    flex-direction: column;
}

#image-ip{
    display: none;
}

.choose-btn,  #predict-btn{
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    /* border: #14f7ff 0.125em solid; */
    border: 0;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow:
        0 0 .20em #FFF7,
        0 0 .20em #14f7ff;
    box-shadow: 0px 0px 15px #14f7ff;
    transition: 0.5s;
}

.choose-btn:hover , #predict-btn:hover{
    background-color: #14f7ff;
    box-shadow: 0px 0px 25px #14f7ff;
}

.choose-btn{
    transform: translateY(50px);
}
.file-name-text{
    transform: translateY(65px);
    color: rgba(255, 255, 255, 0.75);
}
#predict-btn{
    transform: translateY(170px);
}

.image-display-div {
    height: 100%;
    width: 100%;
    /* background-color: rgba(174, 17, 69, 0.416); */
    flex-direction: column;
    display: none;
    transform: translateY(50px);
}

.output-div {
    height: 30%;
    width: 100%;
    /* background-color: rgba(165, 42, 130, 0.221); */
}

#image-id {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.427);
}

.output-text{
    font-size: 4rem;
    text-transform: uppercase;
    transform: translateY(20px);
    background-image: linear-gradient(45deg, rgba(0, 255, 238, 0.492), rgba(157, 0, 255, 0.475));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
