<!DOCTYPE html>
<html lang="en">

<head>
    <title>Facial Emotion Recognizer</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div id="blob"></div>
    <div id="blur"></div>
    <div class="container">
        <div class="heading-div">
            <div class="heading-container">
                <h2 class="heading">FACIAL</h2>
                <h2 class="heading">EMOTION</h2>
                <h2 class="heading">RECOGNIZER</h2>
            </div>
        </div>
        <div class="links-div">
            <button class="links"><a href="C:\Users\SAIRA\OneDrive\Desktop\FacialEmotionRecognition-main\FacialEmotionRecognition-main\mainpage.html">Test Data Version</a></button>
            <button class="links"><a href="C:\Users\SAIRA\OneDrive\Desktop\FacialEmotionRecognition-main\FacialEmotionRecognition-main\templates\webcampage.html">Webcam Version</a></button>
        </div>
    </div>
    
    <script src="../static/index.js"> </script>
</body>
</html>